<!DOCTYPE html>
<html>
  <head>
    <title>CryptoNews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= yield %>

    <%= render 'shared/debug' if Rails.env.development? %>
  </body>
</html>

<%= javascript_include_tag 'application' %>
